header{
    background-color: rgb(6, 6, 107);
}
.Casos{
    text-align: justify;
}
.card{
    width: 300px;
    height: 400px;
}
.card-img-top{
    height: 200px;
}
.card-text {
    font-size: 20px;
}
.atencion{
    position: relative;
    width: 100%;
    height: 600px;
    display: inline-block;
    text-align: center;
}
.img9{
    position: absolute;
    width: 400px;
    height: 400px;
    font-size: 50px;
    top: 40%;
    left: 10%;

}
.img6{
    width: 100%;
    height: 600px;
    border-radius: 0px;
    object-fit: cover;
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4%;
}
.texto{
    position: absolute;
   
    font-size: 30px;
    top: 40%;
    left: 50%;
   
    color: white;
}
.card-lol{
    background-color: #8b8b8e;
}
footer {
    font-family: sans-serif;
    text-transform: capitalize;
}

.Final {
    max-width: 100%;
    margin: 0 auto;
}
.footer {
    background-color: #24262B;
    padding: 80px 0;
}
.footer-row {
    display: flex;
    flex-wrap: wrap;
}
.footer-link {
    width: 25%;
    padding: 0 15px;
}
.footer-link h4 {
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00C3FF;
    padding-bottom: 10px;
    display: inline-block;
}
.footer-link ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.footer-link ul li a:hover {
    color: white;
    padding: 6px;
}
.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0,2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all .5s ease;
}